*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #ffc600;

}
.content{
	background-color: white;
	width: 80%;
	margin: 50px auto;
	overflow: hidden;
	padding: 20px;
}
img{
	max-width: 70%;
	margin: 10px;
}
.align-left.slide-in{
	transform: translate(-30%) scale(0.95);
}
.slide-in{
	opacity: 0;
	transition: all .5s;
}
.align-right.slide-in{
	transform: translate(30%) scale(0.95);
}
.align-left{
	float: left;
}
.align-right{
	float: right;
}
.slide-in.active{
	opacity: 1;
	transform: translateX(0%) scale(1);
}
.small-img{
	width: 50%;
}